/* body.Home {
    margin: 0;
    padding: 0;
    background-image: url('/lotus.jpg'); /* Adjust the path based on your project structure */
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: cursive; /* Replace 'YourCursiveFont' with the actual font name */
  } */
  
  